:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bacground-color: #e5e5e5;
  --secondary-bacground-color: #2f303a;
}

body {
  background-color: var(--primary-bacground-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}
